
#explore{
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}


.ExploreSearchDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: 10px 0;
    position: relative;
    border-radius: 50px;
}

#ExploreSearch,
#ExploreSearchMessages{
    width: 100%;
    height: 3rem;
    border-radius: inherit;
    background: var(--white);
    box-shadow:  6px 6px 12px var(--outsideMorphDark),
    -6px -6px 12px var(--morphLight);
    color: var(--bluehover);
    font-size: 20px;
    border: none;
    outline: none;
    padding: 0px 50px 0px 30px;
}

.ExploreSearchDiv::placeholder{
    color: var(--bluehover);
    font-size: 20px;
}

#ExploreSearchBtn,
#ExploreSearchBtnMessages{
    height: 100%;
    width: 50px;
    position: absolute;
    right: 0px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    align-items: center;
}


#ExploreSearchBtn:hover{
    background: var(--white);
    box-shadow:  6px 6px 12px var(--outsideMorphDark),
    -6px -6px 12px var(--morphLight);
}

#ExploreSearch:focus-within,
#ExploreSearch:focus-within ~ i{
    background: var(--white);
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
            inset -5px -5px 9px var(--morphLight);    
}

#Searchedusers{
    width: 100%;
    height: 100%;
}

.Searcheduser{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    border-radius: 10px;
    background: var(--white);
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
            inset -5px -5px 9px var(--morphLight);    
    padding: 0 20px;
    margin: 10px 0;
    pointer-events: none;
}

.Searcheduser:hover{
    box-shadow:  6px 6px 12px var(--outsideMorphDark),
    -6px -6px 12px var(--morphLight);
}


.Searcheduser h5{
    color: #999;
    margin: 5px 0;
}

.Searcheduser .Usernames{
    pointer-events: all;
}

.Searcheduser button{
    background-color: var(--blue);
    box-shadow:  6px 6px 12px var(--outsideMorphDark),
    -6px -6px 12px var(--morphLight);
    border: none;
    outline: none;
    color: #fff;
    width: 6rem;
    height: 2.5rem;
    border-radius: inherit;
    font-weight: 900;
    letter-spacing: 1px;
    z-index: 10;
    pointer-events: all;
}

.Searcheduser button:hover{
    background-color: var(--bluehover);
}

.Usernames h3:hover
,.Usernames h5:hover{
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
    pointer-events: all;
}

#ExplreSuggestionDiv{
    width: 100%;
}

#headingOfDiv{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid var(--whiteBorder);
}