#home {
    display: none;
    flex-direction: column;
    padding: 0 10px;
}

.mid-ele-top-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background: var(--blackBorder);
    backdrop-filter: blur(5px);
    z-index: 2;
}

#commonTopNavForAll {
    width: 100%;
    min-height: 5rem;
    color: var(--black);
    background: var(--white);
    border-bottom: 1px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    position: sticky;
    top: 1px;
    z-index: 9090;
}

#commonTopNavForAll h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* cursor: pointer; */
}

#shortScreenNav{
    position: absolute;
    right: 10px;
    top: 5rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 190px;
    height: 310px;
    z-index: 999999999;
}

#shortScreenNav .shortNavH1{
    height: calc(100% / 7);
    background-color: var(--blue);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    transition: .1s all ease-in;
}

#shortScreenNav .shortNavH1:hover{
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 3px;
    background-color: var(--blue);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}


/*=============================================
=            Toggle Button            =
=============================================*/

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #183153;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }

  
  .moon svg {
    fill: var(--blue);
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: var(--blue);
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }

/*=====  End of Toggle Button  ======*/



#home h1:first-child {
    padding-left: 20px;
}

.mid-ele-foryou {
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    border-bottom: 2px solid var(--grey);
}

.mid-ele-foryou button {
    text-decoration: none;
    color: var(--black);
    border: none;
    outline: none;
    font-weight: 900;
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: var(--white);
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
        inset -5px -5px 9px var(--morphLight);
}

#ForYou {
    background: var(--white);
    box-shadow: 5px 5px 9px var(--insetmorphDark),
        -5px -5px 9px var(--morphLight);
    text-decoration: 5px underline var(--blue);
    text-underline-offset: 10px;
}

/* .mid-ele-foryou a:hover {
    background: var(--white);
box-shadow:  5px 5px 9px var(--insetmorphDark),
             -5px -5px 9px var(--morphLight);
} */

.whats-happening-post {
    border-bottom: 2px solid var(--grey);
    display: flex;
    height: 15rem;
}

.first-div-img-content {
    display: flex;
    height: 100%;
}

.imgHappening {
    height: 2.8rem;
    width: 2.8rem;
    border: .0001em solid;
    border-radius: 50%;
    overflow: hidden;
}

.imgHappening img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.right-nav-happening {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content-to-post {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--grey);
    flex-direction: column;
}

.whats-happening-post .img {
    height: 3rem;
    width: 3rem;
    border: .0001em solid;
    border-radius: 50%;
    margin: 15px;
    box-shadow: 5px 5px 9px var(--insetmorphDark),
        -5px -5px 9px var(--morphLight);
}

.content-buttons {
    margin: 10px 0;
}

.content-to-post .everyone {
    margin: 10px;
}

.content-to-post .everyone,
.content-to-post .everyone-can-reply {
    background-color: transparent;
    border: 3px solid var(--grey);
    border-radius: 40px;
    outline: none;
    width: 10rem;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
    /* display: none; */
}

.content-to-post .everyone-can-reply {
    border: none;
}

.content-to-post .happening-text {
    background-color: transparent;
    color: var(--grey);
    font-size: 20px;
    font-weight: 600;
    height: 3rem;
    margin: 15px 0;
    width: 80%;
    border-radius: 40px;
    padding: 20px;
    outline: none;
    border: none;
    background: var(--white);
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
        inset -5px -5px 9px var(--morphLight);
}

.happingPostInput {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.content-to-post .happening-text::placeholder {
    color: var(--blue);
    font-size: 25px;
    font-weight: 600;
}

.content-to-post .happening-text:focus-within {
    color: var(--blue);
    /* border: 1px solid var(--blue); */
    background: var(--white);
    box-shadow: 5px 5px 9px var(--insetmorphDark),
        -5px -5px 9px var(--morphLight);
}


.content-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-logos-happening {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
}

.last-logos-happening i {
    color: var(--blue);
    font-size: 22px;
    font-weight: 600;
    margin-right: 15px;
}

.last-logos-happening i:hover {
    transition: .2s all linear;
    color: var(--bluehover);
}

.post-happening {
    height: 2.5rem;
    border-radius: 50px;
    width: 5rem;
    outline: none;
    border: none;
    color: var(--black);
    font-weight: 600;
    font-size: 15px;
    background-color: var(--bluehover);
    margin-right: 20px;
}

.post-happening:hover {
    background-color: var(--blue);
}

#allTweetsbyuseranddb {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0;
    /* gap: 10px; */
}

.tweetDiv {
    width: 100%;
    min-height: 8rem;
    color: var(--black);
    background: var(--white);
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
        inset -5px -5px 9px var(--morphLight);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 3.5rem 30px;
    /* box-shadow: 0 0 5px 0px var(--blue); */
    margin: 15px 0;
    transition: .2s all ease-out;
}

.tweetDiv:hover {
    box-shadow: 6px 6px 12px var(--outsideMorphDark),
        -6px -6px 12px var(--morphLight);
}

.tweetDiv .username {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 3rem;
    font-size: 17px;
    color: #535353;
    display: flex;
    align-items: center;
    padding: 30px 30px;
    border-radius: inherit;
    cursor: pointer;
}

.tweetDiv .username:hover {
    text-decoration: underline;
    color: var(--blue);
}

.tweetDiv .tweetText {
    width: 100%;
    height: 100%;
    font-weight: 900;
    color: var(--textColorLightMod);
}

.tweetDiv .tweetIntraction {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3rem;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: inherit;
    gap: 30px;
}

.tweetDiv .tweetIntraction  .bx-share-alt {
    cursor: pointer;
    color: #666;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 6px 6px 12px var(--outsideMorphDark),
        -6px -6px 12px var(--morphLight);
}

.tweetDiv:hover .tweetIntraction  .bx-share-alt {
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
        inset -5px -5px 9px var(--morphLight);
}

.tweetDiv:hover #likedivcommon{
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
        inset -5px -5px 9px var(--morphLight);
}

.tweetDiv:hover #commentdivcommon{
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
        inset -5px -5px 9px var(--morphLight);
}

.tweetDiv .tweetIntraction i:hover {
    scale: 1.1;
    color: var(--blue);
    background: var(--white);
    box-shadow: 6px 6px 12px var(--outsideMorphDark),
        -6px -6px 12px var(--morphLight);
}

#FollowingPosts {
    width: 100%;
    height: 100vh;
}

#FollowingListTweets {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

