
/*=============================================
=            left nav                         =
=============================================*/

.left-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30vw;
    max-width: 250px;
    height: 100vh;
    padding: 10px 0;
    position: relative;
}

/* .main-top-buttons{
    margin-right: 40px;
} */

.nav-link {
    display: flex;
    align-items: center;
    width: auto;
    height: 52px;
    background: var(--black);
    color: var(--white);
    font-size: 25px;
    font-weight: 800;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 10px 20px;
    transition: background .1s linear;
    position: relative;
    cursor: pointer;
}

.nav-link:focus-within{
    font-weight: 900;
    font-size: 30px;
    color: var(--blue);
}

.nav-link:focus-within svg path{
    stroke: var(--blue);
}

#menuLeftNav{
    display: none;
    position: absolute;
    z-index: 9999;
    left: 500px;
    top: 50px;
}

.nav-link-icon {
    margin-left: 15px;
    font-size: 20px;
    font-weight: normal;
}

#post-btn {
    background-color: rgb(0, 157, 255);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}

.lastbutton {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.img {
    height: 3rem;
    width: 3rem;
    border: .0001em solid;
    border-radius: 50%;
    overflow: hidden;
}

.img img{
    height: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.username {
    font-size: 18px;
    padding: 0 5px;
}

.username h6 {
    color: #777;
    padding: 5px 0;
}

.nav-link:hover {
    background-color: var(--grey);
}

#post-btn:hover {
    background-color: var(--bluehover);
}

/*=====  End of left nav  ======*/
