
/*=============================================
=            left nav                         =
=============================================*/

.left-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30vw;
    max-width: 250px;
    height: 100vh;
    padding: 10px;
    position: relative;
    transition: .3s all;
}

.main-top-buttons{
    position: fixed;
    top: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    width: auto;
    height: 52px;
    background: var(--black);
    color: var(--white);
    font-size: 25px;
    font-weight: 800;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 10px 20px;
    transition: background .1s linear;
    position: relative;
    cursor: pointer;
}

.nav-link:focus-within{
    font-weight: 900;
    font-size: 30px;
    color: var(--blue);
}

.nav-link:focus-within svg path{
    stroke: var(--blue);
}

#menuLeftNav{
    display: none;
    position: absolute;
    z-index: 9999;
    left: 500px;
    top: 50px;
}

.nav-link-icon {
    margin-left: 15px;
    font-size: 20px;
    font-weight: normal;
}

#post-btn {
    background-color: rgb(0, 157, 255);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
}

.lastbutton {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    position: relative;
    background-color: #111;
    border: 1px solid var(--blue);
}

.lastbutton:hover{
    background-color: #555;
}

.imgBottom {
    height: 2.8rem;
    width: 2.8rem;
    border: .0001em solid;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 9px;
}

.imgBottom img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.username {
    height: 3rem;
    font-size: 18px;
    padding: 0 5px;
}

.username h6 {
    color: #777;
    padding: 5px 0;
}

#ThreeDotsProfileButton{
    position: absolute;
    right: 6px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ThreeDotsProfileButton:hover{
    background-color: rgba(79, 79, 126, 0.623);
    color: var(--blue);
}

.nav-link:hover {
    background-color: var(--grey);
}

#post-btn:hover {
    background-color: var(--bluehover);
}

#post-btn span{
    height: 100%;
    /* display: none; */
}

#post-btn span svg{
    fill: #fff;
    height: 100%;
}



/*=====  End of left nav  ======*/
