@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button,
i {
    cursor: pointer;
}


#LoginSignupPages{
    height: 100vh;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#LoginSignupPages .LeftLoginDiv{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LeftLoginDiv svg{
    height: 90%;
    width: 90%;
}

#LoginSignupPages #LoginSeciton{
    display: none;
}

#LoginSignupPages div{
    width: 50%;
    max-width: 450px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#LoginSignupPages div .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

#LoginSignupPages div .form input,
#LoginSignupPages div .form button{
    height: 3rem;
    width: 100%;
    margin: 3px 0;
    border-radius: 7px;
    outline: none;
    border: 1px solid var(--grey);
    padding: 0 20px 0 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--blue);
}

#LoginSignupPages div .form button{
    color: #fff;
    background-color: var(--blue);
    outline: none;
    border: none;
    margin: 20px 0;
}

#LoginSignupPages div .form input:focus-within{
    outline: 2px solid var(--blue);
}

#LoginSignupPages div .form h3{
    font-size: 50px;
    margin-bottom: 30px;
}

#LoginSignupPages div h4 button{
    background-color: transparent;
    border: none;
    color: var(--blue);
    font-size: 20px;
    font-weight: 800;
    padding: 0 5px;
}

#LoginSignupPages div h4 button:hover{
    text-decoration: 2px solid underline;
    text-underline-offset: 8px;
}

@media (max-width: 770px) {
    #LoginSignupPages .LeftLoginDiv{
        position: absolute;
        top: 20px;
        left: 20px;
        height: 100px;
        width: 100px;
    }

    #LoginSignupPages div{
        width: 90%;
    }
}