#Allmessages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#ChatBlock{
    display: none;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

#ChatBlock .ChatBlockDIV{
    position: absolute;
    bottom: 0;
}

.ChatBlockDIV{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    position: relative;
    padding: 0 10px;
    margin: 10px 0 0;
    background-color: #000;
}


#ChatBlockInput{
    width: 100%;
    height: 3rem;
    border-radius: inherit;
    background-color: #222;
    color: #fff;
    font-size: 20px;
    outline: none;
    border-radius: 50px;
    border: 1px solid var(--blue);
    padding: 0px 50px 0px 30px;
}

#ChatBlockInput::placeholder{
    color: var(--blue);
    font-size: 20px;
}

#ChatBlockSendBlock{
    height: 3rem;
    width: 50px;
    position: absolute;
    right: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    background-color: var(--blue);
    align-items: center;
}


#ChatBlockSendBlock:hover{
    background-color: #666;
}

#allMessagesFromDatabase{
    width: 100%;
    height: calc(100% - 9rem); /* Adjusted height calculation */
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow-y: auto; /* Use 'auto' to enable scrolling when needed */
    overflow-x: hidden;
}

.messageDivDatabaseuser,
.messageDivDatabasesender{
    width: 100%;
    display: flex;
    min-height: 3rem;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    position: relative;
}

.messageDivDatabasesender{
    justify-content: start;
}

.messageDivDatabaseuser h3,
.messageDivDatabasesender h3{
    padding: 10px 10px;
    width: auto;
    max-height: auto;
    border-radius: inherit;
    margin: 0;
}

.messageDivDatabaseuser .user{
    margin-left: 15%;
    background-color: #2d2d2d;
    color: #fff;
    justify-content: flex-end;
}


.messageDivDatabasesender .sender{
    margin-right: 15%;
    background-color: var(--blue);
    color: #fff;
    justify-content: flex-start;
}
