
/*=============================================
=            mid elements            =
=============================================*/

.mid-ele {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 500px;
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

#Xmain{
    animation: .3s slideTop ease-in;
}

#home {
    max-width: 100%;
    height: 100%;
    animation: .3s slideTop ease-in;
}

#explore {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#notifications {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#messages {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#lists {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#communities {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#premium {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#profile {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#more {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#post {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}



/*=====  End of mid elements  ======*/
