
/*=============================================
=            mid elements            =
=============================================*/

.mid-ele {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 650px;
    border-bottom: 1px solid var(--grey);
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

#Xmain{
    animation: .3s slideTop ease-in;
}

#home {
    max-width: 100%;
    min-height: 100vh;
    animation: .3s slideTop ease-in;
}

#explore {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#notifications {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#messages {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#lists {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#communities {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#premium {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#profile {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#more {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#post {
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#Searcheduser{
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

#ReachList{
    display: none;
    width: 100%;
    height: 100vh;
    animation: .3s slideTop ease-in;
}

.section{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.section h1:first-child{
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: var(--blackBorder);
    border-bottom: 1px solid var(--whiteBorder);
    position: sticky;
    top: 0px;
    z-index: 99;
    text-transform: capitalize;
}


.bxs-left-arrow-alt{
    font-size: 1.6em;
    margin: 0 20px;
}

/*=====  End of mid elements  ======*/
