#more{
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: inherit;
}

#more h1{
    margin-bottom: 10px;
}

#more a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    background-color: #222;
    width: 100%;
    height: 3rem;
    margin: 5px 0;
    border-radius: inherit;
    padding-left: 20px;
}

#more a:hover{
    background-color: #333;
}