#more{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 10rem;
    border-radius: 10px;
    border: 1px solid var(--blue);
    box-shadow: 0 0 10px var(--blue);
    position: absolute;
    top: 0;
    left: 0;
}


.log-setButton{
    width: 94%;
    height: 4rem;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    border: 2px solid #999;
    color: var(--blue);
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.log-setButton:hover{
    background-color: rgb(0, 0, 0);
    border: 2px solid var(--blue);
}