#more{
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: inherit;
}

#more h1{
    margin-bottom: 10px;
}

#more a{
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    line-height: 50px;
    background: var(--white);
    box-shadow:  5px 5px 9px var(--insetmorphDark),
                 -5px -5px 9px var(--morphLight);
    width: 100%;
    height: 3rem;
    margin: 5px 0;
    border-radius: 10px;
    padding-left: 20px;
}

#more a:hover{
    box-shadow: inset 5px 5px 9px var(--insetmorphDark),
    inset -5px -5px 9px var(--morphLight);
}