#notifications{
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}


#allNotifications{
    width: 100%;
    min-height: auto;
    margin-top: 10px;
}
#allNotifications h4{
    margin: 10px 0;
    text-transform: capitalize;
    width: 100%;
    min-height: 3rem;
    border-radius: 10px;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 5px 20px;
}
