#notifications{
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}


#allNotifications{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
#allNotifications h4{
    margin: 5px 0;
    text-transform: capitalize;
    width: 100%;
    min-height: 4rem;
    border-radius: 10px;
    background: var(--white);
    box-shadow:  5px 5px 9px var(--insetmorphDark),
                 -5px -5px 9px var(--morphLight);
    display: flex;
    align-items: center;
    padding: 5px 20px;
}
