#profile{
    display: none;
    flex-direction: column;
    position: relative;
    width: 100%;
    /* padding: 0 1px; */
}

.searchedHeading{
    width: 100%;
}

.searchedHeading h2{
    font-size: 20px;
    height: 3rem;
    padding: 10px 0;
    border-bottom: 1px solid var(--whiteBorder);
    border-top: 1px solid var(--whiteBorder);
    margin: 10px 0;
    font-weight: 500;
}


.profileBanner{
    height: 10rem;
    width: 100%;
    position: relative;
    background-color: #666;
    border-radius: 5px;
    border: 2px solid var(--blue);
}

.progileimgDIv{
    /* position: relative; */
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 5%;
}

.profileBanner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

#ProfilePicture{
    height: 130px;
    width: 130px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid var(--blue);
    position: absolute;
    left: 10px;
    top: 60%;
}

#GreatingsHeadingProfile{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    background-color: rgba(59, 59, 59, 0.5);
    padding: 10px 10px 10px 40px;
    border-radius: 30px 0 0 30px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--whiteBorder);
}

#ProfilePicture:hover ~ #ProfilePicturePath{
    display: block;
}

.ProfileDetails{
    margin-top: 100px;
    padding-left: 20px;
}

.ProfileDetails h5{
    font-size: 16px;
    color: grey;
}

.socialCont{
    display: flex;
    width: 100%;
    padding: 0 10px 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid var(--blackBorder);
}

.socialCont h3{
    margin-right: 10px;
}

.socialCont h3 span{
    font-size: 16px;
    color: grey;
    padding-left: 7px;
}
