@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button,
i {
    cursor: pointer;
}

a{
    text-decoration: none;
}

.X-logo-org {
    height: 2.5rem;
    border-radius: 50%;
    margin-left: -5px;
}


:root {
    --white: #e0e0e0;
    --black: #000;
    --grey: #4b6079c1;
    --bluehover: #0a74b6;
    --blue: #009dff;
    --profile-logo: url('/assets/images/X Profile Img.png');
    --whiteBorder: #ffffff80;
    --blackBorder: #00000080;
    --insetmorphDark: #838383;
    --morphLight: #ffffff;
    --outsideMorphDark: #8b8b8b;
    --textColorLightMod: #000000db;
    --textColorDarkMod: #e5e5e5db;
}



/*=============================================
=            For dark Mode                    =
=============================================*/
/* :root{
    --white: #111;
    --black: #fff;
    --grey: rgba(75, 96, 121, 0.758);
    --bluehover: rgb(10, 116, 182);
    --blue: rgb(0, 157, 255);
    --profile-logo: url('/assets/images/X Profile Img.png');
    --whiteBorder: rgba(255, 255, 255, 0.5);
    --blackBorder: rgba(0, 0, 0, 0.5);
    --insetmorphDark: #000000;
    --morphLight: #65656566;
    --outsideMorphDark: #000000;
} */
/*=====      End of For dark Mode     ======*/



body {
    background-color: var(--white);
    color: var(--black);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.whole-page {
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    max-width: 1100px;
    display: flex;
    justify-content: space-evenly;
}

.left-nav,
.right-nav {
    display: block;
}

#Xmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

#Xmain #ExploreXmain {
    display: none;
    background-color: var(--blue);
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: 900;
    color: var(--black);
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 30px;
}

#Xmain #ExploreXmain:hover {
    background-color: var(--bluehover);
}


#navMenu {
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    height: 30px;
    z-index: 9099090;
    display: none;
}

#navMenu:hover {
    background-color: #353535;
}

.popUpDiv {
    min-width: 300px;
    max-width: 400px;
    min-height: 5rem;
    display: flex;
    align-items: center;
    background-color: rgb(19, 243, 120);
    color: #ffffff;
    /* color: rgb(255, 52, 52); */
    padding: 10px;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 9494909340940940909343;
    /* animation: PopUp 3.5s ease-in-out 1; */
}

#ShortNavButton{
    pointer-events: none;
}

#likedivcommon,#commentdivcommon{
    display: flex;
    width: 50px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #666;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 6px 6px 12px var(--outsideMorphDark),
        -6px -6px 12px var(--morphLight);
}



@keyframes PopUp {
    0% {
        transform: translateX(400px)
    }

    10%{
        transform: translateX(0px)
    }

    20% {
        transform: translateX(0px)
    }

    30% {
        transform: translateX(0px)
    }

    40% {
        transform: translateX(0px)
    }

    70% {
        transform: translateX(0px)
    }

    80% {
        transform: translateX(0px)
    }

    90% {
        transform: translateX(0px)
    }

    100% {
        transform: translateX(400px)
    }
}



@keyframes slideTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


@media (max-width:840px) {
    .whole-page {
        max-width: 100vw;
    }

    .left-nav .main-top-buttons {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .main-top-buttons .nav-link {
        margin: 7.5px 0;
    }


    .whole-page .right-nav {
        display: none;
    }

    .whole-page .mid-ele {
        max-width: 100%;
    }
}






@media (max-width:600px) {
    .whole-page {
        max-width: 100vw;
    }

    .whole-page .left-nav {
        display: none;
        /* width: 70px; */
        padding: 0;
    }

    #Xmain #ExploreXmain {
        display: block;
    }

    .left-nav .main-top-buttons {
        width: 100%;
    }

    .whole-page .left-nav span,
    .whole-page .right-nav {
        display: none;
    }

    .whole-page .mid-ele {
        width: 100vw;
    }

    #post-btn {
        max-width: 4rem;
        border-radius: 50%;
    }

    #post-btn p {
        display: none;
    }

    #post-btn span {
        display: block;
    }
    #ShortNavButton{
        /* display: flex; */
        pointer-events: all;
    }



    .lastbutton .username,
    #ThreeDotsProfileButton {
        display: none;
    }
}

@media (max-width:450px) {
    .whole-page .left-nav {
        display: none;
    }

  

    #navMenu {
        display: block;
    }


    #commonTopNavForAll {
        display: flex;
    }
}