@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button,i{
    cursor: pointer;
}

.X-logo-org{
    height: 2.5rem;
    border-radius: 50%;
    margin-left: -5px;
}


:root {
    --black: #000;
    --white: #fff;
    --grey: rgba(56, 66, 78, 0.54);
    --bluehover: rgb(10, 116, 182);
    --blue: rgb(0, 157, 255);
    --profile-logo: 'https://imgs.search.brave.com/3jPQ7-D_SmheFuu2NgYZcwM8OY4Gx2mfYNF8RpEVXVY/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/MDgyMTQ3NTExOTYt/YmNmZDRjYTYwZjkx/P2l4bGliPXJiLTQu/MC4zJml4aWQ9TTN3/eE1qQTNmREI4TUh4/elpXRnlZMmg4Tm54/OGRYTmxjaVV5TUhC/eWIyWnBiR1Y4Wlc1/OE1IeDhNSHg4ZkRB/PSZ3PTEwMDAmcT04/MA.jpeg';
}


body {
    background-color: var(--black);
    color: var(--white);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.whole-page {
    background-color: var(--black);
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

.left-nav,
.right-nav{
    display: block;
}

#Xmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}


@keyframes slideTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


@media (max-width:840px) {
    .whole-page{
        max-width: 100vw;
    }

    .left-nav{
        align-items: end;
    }

    .main-top-buttons {
        margin-right: 0;
    }

    .whole-page .right-nav{
        display: none;
    }

    .whole-page .mid-ele{
        max-width: 100%;
    }

    #post-btn{
        max-width: 4rem;
    }
    
}






@media (max-width:600px) {
    .whole-page{
        max-width: 100vw;
    }

    .whole-page .left-nav{
        width: 70px;
    }

    .whole-page .left-nav span,
    .whole-page .right-nav{
        display: none;
    }

    .whole-page .mid-ele{
        width: 100vw;
    }
    
}

@media (max-width:450px) {
    .whole-page .left-nav{
        display: none;
    }
}