@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button,i{
    cursor: pointer;
}

.X-logo-org{
    height: 2.5rem;
    border-radius: 50%;
    margin-left: -5px;
}


:root {
    --black: #000;
    --white: #fff;
    --grey: rgba(56, 66, 78, 0.54);
    --bluehover: rgb(10, 116, 182);
    --blue: rgb(0, 157, 255);
    --profile-logo: url('assets/images/X Profile Img.png');
}


body {
    background-color: var(--black);
    color: var(--white);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.whole-page {
    background-color: var(--black);
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

.left-nav,
.right-nav{
    display: block;
}

#Xmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

#navMenu{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    height: 30px;
    z-index: 9099090;
    display: none;
}

#navMenu:hover{
    background-color: #353535;
}


@keyframes slideTop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


@media (max-width:840px) {
    .whole-page{
        max-width: 100vw;
    }

    .left-nav{
        align-items: end;
    }

    .main-top-buttons {
        margin-right: 0;
    }

    .whole-page .right-nav{
        display: none;
    }

    .whole-page .mid-ele{
        max-width: 100%;
    }

    
    
}






@media (max-width:600px) {
    .whole-page{
        max-width: 100vw;
    }

    .whole-page .left-nav{
        width: 70px;
        padding: 0;
    }

    .whole-page .left-nav span,
    .whole-page .right-nav{
        display: none;
    }

    .whole-page .mid-ele{
        width: 100vw;
    }

    #post-btn{
        max-width: 4rem;
        border-radius: 50%;
    }   

    #post-btn p{
        display: none;
    }

    #post-btn span{
        display: block;
    }  



    .lastbutton .username,
    #ThreeDotsProfileButton{
        display: none;
    }
}
@media (max-width:450px) {
    .whole-page .left-nav{
        display: none;
    }
    
    #navMenu{
        display: block;
    }
}